<% provide:title, (t ".help") %>
<h1><%= t ".help"%></h1>
<p>
  <%= t ".get_help_on_the_ruby_on_rails_tutorial _at_the"%>
  <%= link_to (t ".rails_tutorial_help_section"),"http://www.railstutorial.org/help"%>.
  <%= t".to_get_help_on_this_sample_app_see_the"%>
  <a href="http://www.railstutorial.org/book"><em><%= t".text"%></em>
  <%=t "about.book"%></a>.
</p>
